.sundar-pichai {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 17px;
   font-weight: bold;
   width: 300px;
   line-height: 23px;
   margin-bottom: 5px;
}
.views {
   margin-top: 0;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(96, 96, 96);
}
.Marques {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   color: rgb(96, 96, 96);
   margin-bottom: 50px;
}
.iphone {
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
 font-size: 15px;
 background-color: rgb(227, 65, 6);
 color: white;
 text-align: center;
 padding-top: 20px;
 padding-bottom: 20px;
 
}
.span {
 cursor: pointer;
}
.span:hover {
 text-decoration: underline;
}